
.canvasUi {
    border: 1px solid silver;
    margin-top: 15px;
}
.HandleCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;

}
.handleCanvasHeight{
    height: 100%;
}
.hiddenFlow{

    --overflow: hidden;

}
.transform-component-module_wrapper__1_Fgj{
    display: none !important;
}

